<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<ul>
	<li><%= link_to "Edit", edit_user_article_path(params[:user_id], @article) %></li>
	<li><%= button_to "Destroy", user_article_path(params[:user_id], @article), method: :delete, :onclick => "return confirm('Are you sure you want to delete this post?')" %></li>
</ul>
